.content {
    width: 224px;
    display: flex;
    flex-wrap: wrap;

    .menu-item {
        margin-left: 0;
        font-weight: 500;
    }
}

.menu-item {
    width: 100%;
    display: flex;
    padding: 10px 16px;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.menu-srollable {
    overflow: hidden auto;
}

// Header
.header {
    position: relative;
    width: 100%;
    top: -8px;
}
.back-btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
