.wrapper {
    font-size: 16px;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        user-select: none;
        opacity: 0.6;
    }
}

// custom btn
.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background-color: #c4465b;
    }
}

.outline {
    border: 1px solid #fe2c55;
    color: #fe2c55;

    &:hover {
        background-color: rgb(247, 223, 229);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    min-width: 90px;
    min-height: 32px;
    color: rgba(22, 24, 35, 0.75);
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

// custom size

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 116px;
    padding: 14px 16px;
}

// selec icon

.icon {
    margin-right: 6px;
}
