.wrapper {
    --search-boder-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-height);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//action
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 6px;
    padding: 10px;
    background-color: transparent;
}

.action-btn {
    color: #161823;
    font-size: 2rem;
    background-color: #fff;
    padding: 4px 12px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
